<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Poem</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <style>
        .startFire {
            position: absolute;
            top: 10px;
            left: 10px;
        }
    </style>
</head>
<body>
    <div class="startFire">
        <button class="button" id="writePoem"><a href="/poems/new">Write Poem</a></button>
    </div>
    <div class="exitSerenityMode">
        <button class="button" id="exitSerenityMode">Exit Serenity Mode</button>
    </div> 
    <div class="textBoxDiv">
        <% poems.forEach(poem => { %>
            <form action="/poems/<%= poem._id %>?_method=PUT" method="POST">
                <textarea name="poem" rows="10" cols="50"><%= poem.poem %></textarea>
                <button type="submit" class="button">Update Poem</button>
            </form>
        <% }); %>
    </div>
</body>
</html>