<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Past Poems</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class="exitSerenityMode">
        <button class="button" id="exitSerenityMode"><a href="/fire">Exit Serenity Mode</a></button>
    </div>  
    <div class="startFire">
        <div class="fireAnimation">
            <img id="fireAnimation" src="https://i.gifer.com/origin/23/23fccf95d397aa15f2ce2d875c44b94d_w200.webp">
        </div> 
        <button class="button" id="writePoem"><a href="/poems/new">Write Poem</a></button>
        <button class="button" id="pastPoems"><a href="/poems/all">View Past Poems</a></button>
    </div>  
</body>
</html>