<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write Poem</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class="textBoxDiv">
        <form action="/poems" method="POST">
            <textarea id="poem" name="poem" placeholder="Write Your Poem Here" required></textarea>
            <button type="submit" class="button" id="serenityMode">Submit</button>
        </form>
    </div> 

    <div class="navigationButtons">
        <button class="button" id="viewAllPoems"><a href="/poems/all">View All Poems</a></button>
    </div>
</body>
</html>