<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    

    <div>

        <div class="serenityMode">
            <button class="button" id="serenityMode"><a href="/poems">Serenity Mode</a></button>
        </div> 

        <div class="fireAnimation">
            <img id="fireAnimation" src="https://i.gifer.com/origin/23/23fccf95d397aa15f2ce2d875c44b94d_w200.webp">
        </div> 

        <div class="fire">
            <button class="button" id="stokeFire">Stoke Fire</button>
            <button class="button" id="putOutFire">Put Out Fire</button>
            
        </div>

        
            <div class="textBoxDiv">
                <textarea id="textBox" placeholder="You Started the Fire"></textarea>
            </div>    
    </div>

    </div>    

   

</body>