<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    

    <div>

        <div class="serenityMode">
            <button class="button" id="serenityMode"><a href="/poems">Serenity Mode</a></button>
        </div> 

        <div class="fireAnimation">
            <img id="fireAnimation" src="https://i.gifer.com/origin/23/23fccf95d397aa15f2ce2d875c44b94d_w200.webp">
        </div> 

        <div class="fire">
            <button class="button" id="stokeFire">Stoke Fire</button>
            <button class="button" id="putOutFire">Put Out Fire</button>
            
        </div>

        
            <div class="textBoxDiv">
                <textarea id="textBox" placeholder="You Started the Fire"></textarea>
            </div>    
    </div>

    </div>    
    <script>
        const stokeButton = document.getElementById("stokeFire");
        const fireImage = document.getElementById("fireAnimation");
        const putOutFireButton = document.getElementById("putOutFire")
        let stokeCount = 0;
    
        stokeButton.addEventListener("click", function() {
            // Toggle between GIFs based on the number of clicks
            if (stokeCount % 2 === 0) {
                fireImage.src = "https://i.gifer.com/origin/d9/d9dd657cfef3fb5188596ace989a7dd7_w200.gif";
            } else {
                fireImage.src = "https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExcWppemY5dHFzcnE0YTBkazUwNHl2c2hzeGE3bWt3YTFwZWI0eWJiOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/h4UU5HbRX7R8pjHEpa/giphy.gif";
            }
            
            stokeCount++; // Increment the click count
            textBox.value += "\nYou stoked the fire!";
    
        });
        putOutFireButton.addEventListener("click", function() {
        fireImage.src = "https://www.animationsoftware7.com/img/agifs/smoke04.gif";
        textBoxDiv.style.display = "none";


    const gameOverButton = document.createElement("button");
        gameOverButton.textContent = "The Fire Went Out. Click Here to Start Again.";
        gameOverButton.classList.add("gameOverButton"); // Add a class for styling
        gameOverButton.addEventListener("click", function() {
            location.reload(); // Reload the page
        });

    document.body.appendChild(gameOverButton);

        serenityModeButton.style.display = "none";
        exitSerenityModeDiv.style.display = "none";
        fireButtons.style.display = "none";
        poemButtons.style.display = "none";

        
    });
    </script>
   

</body>